{
  "extends": "ember",
  "rules": {
  	"semi": [2, "never"],
  	"object-curly-spacing": 0,
  	"newline-after-var": "off",
  	"newline-before-return": "off",
  	"arrow-body-style": "off",
  	"no-magic-numbers": "off",
  	"array-callback-return": "off",
    "no-else-return": "off"
  }
}
