{
  "extends": "ember",
  "rules": {
    "semi": [2, "always"],
    "object-curly-spacing": ["error", "always"],
  	"newline-after-var": "off",
  	"newline-before-return": "off",
  	"newline-per-chained-call": "off",
  	"no-magic-numbers": "off",
  	"no-undef": "off"
  }
}
