<div class='new-container flex-column'>
	{{input class='proceed-input' value=(mut model.title) placeholder='Quiz Title' autofocus='autofocus'}}
</div>

{{#bottom-bar}}
	<button {{action 'proceed'}}>Proceed</button>
{{/bottom-bar}}