{{breakdown-list 
	breakdowns=scoreCalculator.scoresByOptions 
	maxScore=scoreCalculator.maxScore
	viewDetail=(action 'goTo')
}}

{{#bottom-bar}}
	<button {{action 'back'}}>Back</button>
{{/bottom-bar}}