<div class='flex-center-all flex-wrap below-1'>
	{{#each stats as |group|}}
		{{fingerprint-detail 
			os=group.detail.os.name
			browser=group.detail.browser.name 
			fingerprint=group.fingerprint
			count=group.count
			imgSource=group.browserPicture
			osImage=group.osPicture
		}}
	{{/each}}
</div>