<ul class='menu-list'>
	<li>{{link-to 'New Quiz' 'quiz.new'}}</li>
	<li>{{link-to 'Completed Quizzes' 'quizzes'}}</li>
	<li>{{link-to 'Digital Fingerprints' 'fingerprints'}}</li>
	<li>{{link-to 'My Digital Fingerprint' 'my-digital-fingerprint'}}</li>
</ul>