<div class='flex-row'>
	<div class='left-panel'>
		<img src={{model.image}} class='love-language-result' />
	</div>
	<div class='flex-column right-panel'>
		<h1>{{model.title}}</h1>
		<p>{{model.description}}</p>
	</div>
</div>