<div class='flex-center-all'>
	<div class='again set-container flex-center-all flex-column'>
		<div class='text-center text-faded'>
			OS
		</div>
		<div>
			<img src={{digitalFingerprint.osPicture}} class='sized' />
		</div>
	</div>
	<div class='again set-container flex-center-all flex-column'>
		<div class='text-center text-faded'>
			Browser
		</div>
		<div class='sized flex-center-all'>
			<img src={{digitalFingerprint.browserPicture}} class='sized-browser-img' />
		</div>
	</div>
</div>
<div class='text-center text-faded'>
	Fingerprint
</div>
<div class='text-center text-pad'>
	{{digitalFingerprint.collectivePrints.fingerprintjs2}}
</div>